@charset "UTF-8";

.head311 {
	font-family: Verdana, Geneva, sans-serif;
	color: #006088;
	float: left;
	padding-left: 12px;
}

.subhead311 {
	font-size: 14px;
	color: #666;
	font-style: italic;
}

#hLeft {
	background-color: #4087A9;
	float: left;
	width: 236px;
	margin-right: 9px;
	padding-bottom: 10px;
	clear: both;
	border-left: 2px solid #106993;
	border-right: 2px solid #106993;
	border-top: 2px solid #106993;
	border-bottom: 2px solid #106993;
	-moz-border-left-colors: #106993 #70A5BE;
	-moz-border-right-colors: #106993 #70A5BE;
	-moz-border-top-colors: #106993 #70A5BE;
	-moz-border-bottom-colors: #106993 #70A5BE;
	-webkit-border-left-colors: #106993 #70A5BE;
	-webkit-border-right-colors: #106993 #70A5BE;
	-webkit-border-top-colors: #106993 #70A5BE;
	-webkit-border-bottom-colors: #106993 #70A5BE;
	border-radius:4px;
}

#hLeft h2 {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	padding: 12px;
}

#hCenter {
	float: left;
	width: 485px;
	padding-bottom: 30px;
}

#hLeftExp {
	float: left;
	width: 727px;
	padding-bottom: 30px;
}

#hRight {
	float: right;
	width: 242px;
}

#hRightTop {
	background-image:url(images/boxtop_grad.png);
	height:34px;
	color:#FFF;
	font-weight:bold;
	z-index:5;
}

#hRightBottom {
	margin-top:-2px;
	background-color: #F6F6F6;
	padding-bottom: 30px;
	border: 2px solid #CCC;
	-moz-border-left-colors: #CCC #FFF;
	-moz-border-right-colors: #CCC #FFF;
	-moz-border-bottom-colors: #CCC #FFF;
	-moz-border-top-colors: #FFF #FFF;
	-webkit-border-left-colors: #CCC #FFF;
	-webkit-border-right-colors: #CCC #FFF;
	-webkit-border-bottom-colors: #CCC #FFF;
	-webkit-border-top-colors: #FFF #FFF;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
}

.uheadline {
	clear:both;
	border-top: 1px solid #C1DBDD;
	height: 1px;
	padding-bottom: 6px;
}

.hmenu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.hMenu li {
	font-size: 13px;
	line-height: 1;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #426993;
	border-bottom-color: #8EA5BE;
	color:#FFF;
	background-color:#669FBA;
	padding:6px 4px 6px 20px;
	margin:0 1px 4px 1px;
	background-image: url(images/tall_bullet.gif);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.hMenu li:hover {
	background-color:#006088;
	background-position: 10px 2px;
}

.hMenu li a {
	color: #FFF;
	display:block;
	text-decoration:none;
}

.hMenu2 li a {
	color: #FFF;
}

.hMenu2 li {
	font-size: 11px;
	line-height: 1.8;
	border-top: 1px dotted #FFF;
	color:#FFF;
	line-height:2.4;
}

.assistance {
	font-size:10px;
	color:#08354A;
	font-weight:bold;
	margin:14px 0;
}

.instructions {
	float: left;
	width: 454px;
	border: 2px solid #999999;
	-moz-border-bottom-colors: #999999 #FFFFFF;
	-moz-border-top-colors: #999999 #FFFFFF;
	-moz-border-left-colors: #999999 #FFFFFF;
	-moz-border-right-colors: #999999 #FFFFFF;
	border-radius:4px;
	-moz-border-radius:4px;
	margin-bottom: 9px;
	background-image: url(images/dark_grad.png);
	background-repeat: repeat-x;
	overflow:auto;
	padding:8px;
	font-size: 10px;
	color: #FFF;
	font-weight: bold;
	background-color: #9A9A9A;
}

.smicons {
	vertical-align: middle;
	width: 28px;
	float: left;
	clear:both;
	text-align: right;
	height: 13px;
	padding-top: 2px;
	padding-right: 4px;
}

.instructions a {
	color: #FFF;
	text-decoration: underline;
}

.unitbtn {
	float: left;
	height: 95px;
	width: 229px;
	margin-right: 9px;
	border: 2px solid #999999;
	-moz-border-bottom-colors: #999999 #FFFFFF;
	-moz-border-top-colors: #999999 #FFFFFF;
	-moz-border-left-colors: #999999 #FFFFFF;
	-moz-border-right-colors: #999999 #FFFFFF;
	border-radius:4px;
	-moz-border-radius:4px;
	margin-bottom: 9px;
	background-image: url(images/gradient_bg_btns.png);
	background-repeat: repeat-x;
	overflow:auto;
}

#hRight ol {
	list-style-type: decimal;
	list-style-position: inside;
	list-style-image: none;
	padding-left:12px;
	line-height:1.6;
	font-size:14px;
}

.icons {
	height: 68px;
	width: 58px;
	overflow: hidden;
	margin: 4px;
	float: left;
}

.unitbtn .icons:hover {
	background-position: 100% -67px;
}

.btnTitle {
	font-weight: bold;
	color: #006088;
}

.unitbtn .btnText {
	float: left;
	margin-top: 4px;
	font-size: 9px;
	width: 156px;
	margin-left:2px;
	line-height: 1.2;
}

.deptBox {
	padding:8px;
	float: left;
	width: 454px;
	border: 2px solid #999999;
	-moz-border-bottom-colors: #999999 #FFFFFF;
	-moz-border-top-colors: #999999 #FFFFFF;
	-moz-border-left-colors: #999999 #FFFFFF;
	-moz-border-right-colors: #999999 #FFFFFF;
	border-radius:4px;
	-moz-border-radius:4px;
	margin-bottom: 9px;
	background-image: url(images/gradient_bg_btns.png);
	background-repeat: repeat-x;
}

.deptBoxText {
	position:relative;
	float: left;
	margin-top: 4px;
	font-size: 12px;
	margin-left:2px;
	line-height: 1.5;
	width:384px;
}

.deptBoxText p,
.deptBoxText2 p {
	padding-bottom: 14px;
}

.deptBoxText2 {
	position:relative;
	float: left;
	margin-top: 4px;
	font-size: 12px;
	margin-left:2px;
	line-height: 1.5;
	width:694px;
}

.deptBoxText p strong,
.deptBoxText2 p strong {
	font-weight: bold;
	padding-left: 32px;
}

.deptBoxTitle {
	font-size: 14px;
	font-weight: bold;
	color: #006088;
}

.deptHeading img {
	padding-bottom: 20px;
}

.deptBoxText ul li,
.deptBoxText2 ul li {
	list-style-position: inside;
	list-style-type: disc;
	text-indent: -14px;
	margin-left: 24px;
}

.deptBoxText ul,
.deptBoxText2 ul {
	margin-bottom: 24px;
}

.unitbtn a {
	color: #000;
	text-decoration: none;
}

.unitbtn a:hover {
	color: #000;
	text-decoration: none;
}

.desc {
	float: left;
	width: 340px;
	color:#333;
	font-size:11px;
}

.subtext {
	clear:both;
	padding-top: 12px;
	font-weight:bold;
	text-indent:32px;
}

#selDept select {
	background: none repeat scroll 0 0 #F3F3F3;
	border: 1px solid #666666;
	font-size:14px;
	width:240px;
	color:#333333;
	width: 473px;
	padding:0;
	margin:0 0 8px 0;
}

#selDept select:focus {
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#CCCCCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#CCCCCC;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#CCCCCC;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#CCCCCC;
	border-top-style:solid;
	border-top-width:1px;
}

.deptBox2 {
	padding:8px;
	float: left;
	width: 705px;
	border: 2px solid #999999;
	-moz-border-bottom-colors: #999999 #FFFFFF;
	-moz-border-top-colors: #999999 #FFFFFF;
	-moz-border-left-colors: #999999 #FFFFFF;
	-moz-border-right-colors: #999999 #FFFFFF;
	border-radius:4px;
	-moz-border-radius:4px;
	margin-bottom: 9px;
	background-image: url(images/gradient_bg_btns.png);
	background-repeat: repeat-x;
	min-height:476px;
}

#info_table {
	font-size: 10px;
}

#info_table th,
#info_table td {
	padding:4px;
}

#info_table tr:nth-child(odd) {
	background-color:#eee;
}

#info_table tr:nth-child(even) {
	background-color:#fff;
}
