#mainContent
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:996px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	top:85px;
	float:left;
}

/************** Share ****************/

#share
{
	position: relative;
	top:60px;
	float:right;
	padding:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


/********************* Main Content ****************/
#media
{
	float: left;
	width:508px;
	top:0px;
	padding-right:26px;
}

#mediadept
{
	float: left;
	width:540px;
	top:0px;
	padding-left:10px;
	padding-right:5px;
}

.activitiesContainer
{
	float: left;
	width:500px;
	
	border-top-color:#C1DBDD;
	border-top-style:solid;
	border-top-width:1px;
	margin-top:20px;
	margin-bottom:20px;
	
}

.activitiesContainer a
{
	color:#006088;
	text-decoration:none;
	font-weight:normal;
}

.activitiesContainer a:hover
{

	text-decoration:underline;
	
}

.activityHeadlines
{
	font-size:18px;
	color:#006088;
	padding-bottom:5px;
	padding-top:5px;
}

.activityHeadlines a
{
	text-decoration:none;
}

.activityHeadlines a:hover
{
	text-decoration:underline;
}



.activitySubHeading
{
	font-size:11px;
	color:#006088;

}
.imageActivities
{
	border-width:5px;
	border-style:solid;
	border-color:#006088;
	float:left;
	margin-right:10px;
	vs
}



/********************* Other Sites ****************/
#otherSites
{
	float: left;
	width:996px;
	top:0px;
	
	margin-bottom:0px;
}

.otherSitesContHead
{
	float: left;
	width:995px;
	
	border-bottom-color:#006088;
	border-bottom-style:solid;
	border-bottom-width:3px;
	margin-top:20px;
	margin-bottom:20px;
	
}

.otherSitesCont
{
	float: left;
	width:320px;	
	border-right-color:#CCCCCC;
	border-right-style:dashed;
	border-right-width:1px;
	margin-top:20px;
	margin-bottom:20px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}
.otherSitesFour
{
	float: left;
	width:235px;	
	border-right-color:#CCCCCC;
	border-right-style:dashed;
	border-right-width:1px;
	margin-top:20px;
	margin-bottom:20px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}


.otherSitesLinks
{
	float: left;
	width:299px;	
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	margin-top:3px;
	margin-bottom:3px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}



.otherSitesLinks a
{
	color:#666666;
	text-decoration:none;
}

.otherSitesLinks a:hover
{
	text-decoration:underline;
}

.otherSitesLinksFour
{
	float: left;
	width:225px;	
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	margin-top:3px;
	margin-bottom:3px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}



.otherSitesLinksFour a
{
	color:#666666;
	text-decoration:none;
}

.otherSitesLinksFour a:hover
{
	text-decoration:underline;
}

.otherSitesMore
{
	float: left;
	width:299px;	
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	margin-top:3px;
	margin-bottom:3px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}



.otherSitesMore a
{
	color:#006088;
	font-weight:bold;
	text-decoration:none;
	
}

.otherSitesMore a:hover
{
	text-decoration:underline;
}


.otherSitesMoreFour
{
	float: left;
	width:225px;	
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	margin-top:3px;
	margin-bottom:3px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:0px;
	margin-right:3px;
	
}



.otherSitesMoreFour a
{
	color:#006088;
	font-weight:bold;
	text-decoration:none;
	
}

.otherSitesMoreFour a:hover
{
	text-decoration:underline;
}



.otherSitesContLast
{
	float: left;
	width:320px;	
	margin-top:20px;
	margin-bottom:0px;
	padding-left:5px;
	margin-right:3px;
	
}

.otherSitesContLastFour
{
	float: left;
	width:235px;	
	margin-top:20px;
	margin-bottom:0px;
	padding-left:5px;
	margin-right:3px;
	
}

.SitesHeadlines
{
	font-size:13px;
	font-weight:bold;
	color:#006088;
	padding-bottom:5px;
	padding-top:5px;
	text-align:center;
}



/************ Headlines ****************/
#headlines
{
	
	padding:0px;
	width:230px;
	float:left;
	
	
}

#news
{
	padding:10px;
	padding-top:30px;	
	border-bottom:3px solid #FFCC33;
	border-left:3px solid #FFCC33;
	border-right:3px solid #FFCC33;
	background-image:url(http://www.houstontx.gov/images/triTop.gif);
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	font-size:9px;

	
}


.headlineNewsHeading
{
	font-size:11px;
	color:#006088;
	font-weight:600;
	
	
}

.headlineNews
{
	padding:10px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-color:#CCCCCC;
}
.headlineNews:hover
{
	background-image:url(http://www.houstontx.gov/images/newHoverback.jpg);
	background-repeat:repeat-x;

}
/************ More To Explore ****************/
#explore
{
	position:relative;
	padding:0px;
	background-color:#006088;
	width:201px;
	float:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color:	#FFFFFF	
	
	
}

#services
{
	padding:10px;
	margin-top:15px;
	border-bottom:1px solid #B0D4D6;
	border-left:1px solid #B0D4D6;
	border-right:1px solid #B0D4D6;
	background-color:#EBF4F5;
	color:	#333333;
	font-size: 11px;
	line-height:20px;

	
}

.onlineServHeaings
{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#006088;
	font-size:12px;
	font-weight:bold;
	
}
.onlineServ
{
	width:180px;
	border-bottom-color:#C1DBDD;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-top:10px;

}
.onlineServLast
{
	width:180px;	
}

/************ Social Media ****************/

#bookshare
{
	position:relative;
	padding:0px;
	background-color:#32BFC9;
	width:201px;
	float:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color:	#FFFFFF	;
	margin-top:10px;
	
	
}


#socialmedia
{
	padding:10px;
	margin-top:15px;
	border-bottom:1px solid #B0D4D6;
	border-left:1px solid #B0D4D6;
	border-right:1px solid #B0D4D6;
	background-color:#32BFC9;
	color:	#333333;
	font-size: 11px;
	line-height:20px;

	
}

.shareSites
{
	width:180px;
	padding:3px;
	background-color:#77D6DD;
	margin-bottom:3px;
	

}

.icon
{
	float:left;
	padding-right:5px;
	vertical-align:middle;
}

#mycity
{
	position:relative;
	padding:0px;
	width:201px;
	float:right;
	
	margin-top:10px;
	border-color:#B0D4D6;
	border-style:solid;
	border-width:1px;
	
}

#socialmediagraphics
{
	position:relative;
	padding:0px;
	width:201px;
	float:right;
	
	margin-top:10px;
	border-color:#B0D4D6;
	border-style:solid;
	border-width:1px;
	
}


/************ CitiNet ****************/

#citiNet
{
	position:relative;
	padding:0px;
	background-image:url(http://www.houstontx.gov/images/citiNetback.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	width:201px;
	float:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color:#333333;
	margin-top:10px;
	border-color:#B0D4D6;
	border-style:solid;
	border-width:1px;
	
	
}

a:citiNet
{
	color:#0066FF;
}

#citiNetContainer
{
	padding:10px;
	margin-top:20px;
	font-size: 11px;
	line-height:20px;

	
}

.citiNetText
{
	width:180px;
	padding:3px;
	margin-bottom:3px;
	

}

.icon
{
	float:left;
	padding-right:5px;
	vertical-align:middle;
}


.headingCitiNet
{
	padding:10px;
	color:	#006088;
	
}
/************  ****************/


/************ Weather ****************/

#weather
{
	top:5px;
	padding:0px;
	background-color:#3479AD;
	width:440px;
	float:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-top:10px;
	border-color:#B0D4D6;
	border-style:solid;
	border-width:1px;
	
	
}

#weatherContainer
{
background-color:#FFFFFF;
padding-bottom:40px;
padding-left:20px;
padding-top:20px;
}



#border
{

border:#FFFFFF;
border-width:0px;
}
.weatherText
{
	width:440px;
	padding:3px;
	margin-bottom:3px;
	float:left;
	position:relative;

}

.icon
{
	float:left;
	padding-right:5px;
	vertical-align:middle;
}


.headingWeather
{
	padding:10px;
	color:#FFFFFF;
	
}
/************  ****************/









a
{
	text-decoration:none;
	color:#006088;
}

a:hover
{
	text-decoration:underline;
}
.rightPad
{
	padding-right:10px;
}

.heading
{
	padding:10px;
	margin-top:5px;

	
	
}
