body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image:url(../images/back.jpg);
	background-repeat:repeat-x;
	top:0px;
	margin:0px;
}




.content
{
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;

	font-size: 11px;

	color:#333333;
}


.table
{
	padding:5px;	
	margin-right:15px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	float:left;
}

.table img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.tableright
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	float:right;
}

.tableright img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.tablerightjustleft
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	float:right;
}

.tablerightjustleft img
{
	border-width:2px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table250
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	float:left;
	width:250px;
}

.table250 img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table500
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	float:center;
	width:500px;
}

.table500 img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table150
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	float:left;
	width:150px;
}

.table150 img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table200left
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	float:left;
	width:200px;
}

.table200left img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table200right
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	float:right;
	width:200px;
}

.table200right img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.table175left
{
	padding:10px;	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	float:left;
	width:175px;
}

.table175left img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.homeimagegraytwo
{
	border-width:2px;
	border-style:solid;
	border-color:#F7F7F7;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
	
	
}

.muniart
{
	padding:10px;	
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	float:left;
}

.muniart img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.fouracross
{
	padding:5px;	
	margin-right:5px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	float:left;
}

.fouracross img
{
	border-width:3px;
	border-style:solid;
	border-color:#006088;
	margin-bottom:20px;
	
	
}

.title
{
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 18px;
	color:#006088;
	padding-bottom:5px;
	padding-top:5px;	
	text-transform:capitalize;	
	font-weight:bold;	
}

.subtitle
{
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 14px;
	color:#006088;
	padding-bottom:5px;
	padding-top:5px;
	font-weight:normal;
	text-transform:capitalize;
}

.subtitlenocaps
{
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 14px;
	color:#006088;
	padding-bottom:5px;
	padding-top:5px;
	font-weight:normal;
	
}

.bodystyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.big {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.xbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.expanded {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
}

.justified {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}



.box1 {
	padding: 3px;
	border-width: medium;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border: 1px solid;
}

.list
{

	list-style-type:disc;
	list-style-position:outside;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left:10px;
	color:#333333;
	

}

.listnumber {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left:10px;
	color:#333333;
}

.blockquote 
{
margin:20px 36px;
color:#333333;
padding: 0 40px;
}

/************* Breadcrumb styles  ****************/

#bread
{
	position: relative;
	top:60px;
	float:left;
	padding-left:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	
}

/************* globalNav styles  ****************/


#main
{
	
	margin-left: auto;
	margin-right: auto;
	width:1000px;
		
}

#banner
{
	background-image:url(../images/banner.jpg);
	background-repeat:no-repeat;
	float:left;
	top:0px;
	left: 2%;	
	width:100%;
	height:115px;
}

#mainMenu
{
	position: relative;
	width: 100%;
	min-width: 640px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	top:50px;
	float:left;
	
}


#contentArea
{
	padding:10px;
}


/************* Footer styles  ****************/
.footer
{

	float: left;
	width:995px;
	margin-top:7px;
	margin-bottom:20px;
	font-size:10px;
	color:#999999;
	padding-top:20px;
	border-top:2px solid #006088;

}

.footer a
{
	background-color:#006088;
	color:#FFFFFF;
	float:left;
	margin-right:1px;
	padding:3px;
	font-size:11px;
}


/************* Search styles  ****************/


.floatL
{
	float:left;
	margin-left:5px;
}

.searchBtn
{
	float:left;
}

#search
{
	float: right;
	width:auto;
	margin-top:0px;
	margin-bottom:20px;
	font-size:10px;
	padding-top:0px;
								
				
}

form
{
	padding:0px;
}
	
#websearchSite		

{
	float: left;
	width:auto;
	margin-top:0px;
	margin-bottom:20px;
	margin-left:110px;
	font-size:10px;
								
				
}

#websearchZip
{
	float: right;
	width:auto;
	margin-top:0px;
	margin-bottom:20px;
	font-size:10px;
								
				
}

.email
{	
	color:#006088;
}

/************* Dept Home pages styles  ****************/
#Lpane
{
	float:left;
	width:550px;
	margin-right:20px;
	margin-bottom:50px;
	border-right:#C1DBDD 1px solid;
	padding-right:10px;
	top:0px;
}

#Rpane
{
	float:left;
	width:380px;
}


h1

{
	font-size:18px;
	color:#006088;
	padding-bottom:20px;
	padding-top:5px;
	text-transform:capitalize;
	font-weight:normal;

}



.LcontSections
{
	float:left;
	border-bottom:#C1DBDD 1px dashed;
	padding-top:20px;
	padding-bottom:20px;
	
	width:550px;
}


.LcontSectionsBottom
{
	float:left;
	
	padding-top:20px;
	padding-bottom:20px;
	
	width:550px;
}

.RcontSections
{
	float:left;
	border-bottom:#C1DBDD 1px dashed;
	padding-bottom:20px;
	margin-bottom:20px;
	width:375px;
}


.RcontSectionsBottom
{
	float:left;
	
	padding-bottom:20px;
	margin-bottom:20px;
	width:375px;
}

.more
{
	float:right;
}

.moreBold
{
	float:right;
	font-weight:bold;
}


.deptHeading
{
	font-size:21px;
	color:#006088;
	padding-bottom:40px;
	padding-top:5px;
	
}

.redbold {
	color: #FF0000;
	font-weight: bold;
	font-size:11px;
}

.greendarkbold {
	color: #008000;
	font-weight: bold;
}

.contBold
{
	font-weight:bold;
}


.contItalic {
	font-style: italic;
}

.contBoldItalic {
	font-style: italic;
	font-weight: bold;
}

.boldItalic {
	font-style: italic;
	font-weight: bold;
}

.contCaption {
	font-style: italic;
}

.logo
{
	padding:10px;
	float:left;
}





/************* Mayor styles  ****************/





/************* Dept Interior styles  ****************/

.headContent
{
	float:left;
	border-bottom:#006088 solid 3px;
	padding-bottom:20px;
	width:550px;
}

.moreeventsarchive
{
	float:left;
	border-bottom:#006088 solid 2px;
	padding-bottom:10px;
	width:600px;
}



.menuL
{
	float:left;
	border-bottom:#006088 solid 3px;
	padding-bottom:20px;
	width:300px;
}

#LpaneInt
{
	float:left;
	width:275px;
	margin-right:5px;
	margin-bottom:50px;
	
	
	top:0px;
}

#RpaneInt
{
	float:left;
	width:650px;
	border-left:#C1DBDD 1px solid;
	padding-left:10px;
	padding-bottom:30px;
}

#RpaneInt img
{
	
	margin-bottom:20px;
	
	
}

.RcontSectionsInt
{
	float:left;
	border-bottom:#C1DBDD 1px dashed;
	padding-bottom:20px;
	margin-bottom:20px;
	width:650px;
}

.RcontSectionsIntB
{
	float:left;
	
	padding-bottom:20px;
	margin-bottom:20px;
	width:650px;
}



